body{
    background-color: honeydew;
}
header{
    font-weight: bolder;
    background-color: rgba(125, 56, 113, 0.68);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
footer{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom:0%;
    text-align: center;
}
#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}
.menu{
    margin: 0%;
    background-color: rgba(11, 118, 40, 0.5);
}
.menu > li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.menu li {
    padding: 10px;
    display: inline-block;
}
.menu li:nth-last-child(2),
li:nth-last-child(1) {
    float: right;
    margin-right: 10px;
}
.menu li:hover{
    background-color: rgb(8, 8, 8);

}
#indianews,
#worldnews{
    margin: 10px;
    white-space: nowrap;
    overflow-x: scroll;
}
.news{
    position: relative;
    border: 2px solid green;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 5px;
}
.news img {
    border-radius: 5px;
    width: 400px;
    height: 300px;
}
.overlay{
    position: absolute;
    bottom: 0%;
    border-radius: 5px;
    width: 370px;
    max-width: 370px;
    transition: .5s ease;
    text-align: center;
    overflow: hidden;
    color: white;
    padding: 10px;
}
.news:hover .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#support{
    position: absolute;
    top: 2%;
    right:2%;
    float: right;
    padding: 5px;
    margin: 5px;
}
#support a{
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline;

}
#support a:hover{
    color: white;
    background-color: rgb(8, 8, 8);
}